/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    font-family: "Hammersmith One", sans-serif;
    color: #035e4a;
}
body {
    background-color: #ffe4c4;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Introduction text section */
.text-area {
    max-width: 100vw;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    text-align: center;
}
h1 {
    margin-top: 20px;
}
p {
    font-size: 1.3rem;
    line-height: 1.3rem;
}
#moves {
    margin-top: 20px;
}

/* Style for difficulty selection */
.selection {
    max-width: 100vw;
}
#difficulty-level {
	display: flex;
	justify-content: center;
    width: 100vw;
    margin: auto;
}
label,
option {
    color: #035e4a;
    background:  #ffe4c4;
    letter-spacing: normal;
}
select {
    background: #035e4a;
    color: #fff;
    padding: 2px;
    font-size: 1rem;
}
button {
    margin: 20px 5px;
	padding: 5px 10px;
	background:  #035e4a;
	color: #fff;
    border: 2px solid #035e4a;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
}
button:hover {
	background: #ffe4c4;
	color: #035e4a;
    border: 2px solid #035e4a;
}
.restart:hover {
    background-color: #ffe4c4;
    color: #035e4a;
}
button a {
    color: #fff;
    text-decoration: none;
}
a:hover {
	background: #ffe4c4;
	color: #035e4a;
}

/* Game Board section */
.wrapper {
    max-width: 100vw;
    justify-content: center;
}
.game-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(auto-fill, 90px);
    margin-bottom: 5px;
}

/* Cards section */
.card {
    border-radius: 10px;
    /* border: 2px solid #035e4a; */
    padding: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    height: 90px;
    width: 90px;
    position: relative;
}
.card.flipped {
    transform: rotateY(180deg);
}
.card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}
.front,
.back {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
} 
.card .front {
    display: flex;
    justify-content: center;
    align-items: center;  
    transform: rotateY(180deg);
}
.card .back  {
    background-image: url("../images/paws.webp");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
    border: 2px solid #035e4a
}
.front-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #035e4a;
}


/* Footer section */
#social-media {
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ffe4c4;
    border-top: 2px solid #035e4a;
}
.footer {
    margin-top: auto;
}

/* Media Queries */
@media screen and (max-width: 510px) {
    .game-container {
        width: 100vw;
        grid-gap: 3px;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(auto-fill, 70px);
    }
    .card {
        height: 70px;
        width: 70px;
    }
    .front-image {
        width: 70px;
        height: 70px;
    }
    .front,
    .back {
    width: 70px;
    height: 70px;
    } 
}

@media screen and (min-width: 768px) {
    .game-container {
        width: 100vw;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(auto-fill, 90px);
    }
    .card {
        height: 90px;
        width: 90px;
    }
    .front-image {
        width: 90px;
        height: 90px;
    }
    .front,
    .back {
    width: 90px;
    height: 90px;
    } 
}

@media screen and (min-width: 992px) {
    .game-container {
        grid-template-columns: repeat(6, 90px);
        grid-template-rows: repeat(auto-fill, 90px);
    }
}