/*-- Override default style */
body {
    color: #3d3b37;
    font-family: "Indie Flower", sans-serif;
    font-size: x-large;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flexbox;
    text-align: center;
    top: 1em;
}

/* Welcome section */
.welcome {
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    padding: 5px;

}

#username {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.player-name {
    background-color: #3d3b37;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
}