/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    font-family: "Rancho", cursive;
    color: #035e4a;
}

body {
    background-color: #ffe4c4;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area {
    max-width: 100vw;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    text-align: center;
}
.selection {
    max-width: 100vw;
}
h1 {
    margin-top: 20px;
}

p {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.wrapper {
    max-width: 100vw;
    justify-content: center;
}
.game-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(auto-fill, 110px);
}

.card {
    border-radius: 10px;
    border-color: 2px solid #035e4a;
    padding: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    height: 100px;
    width: 100px;
    position: relative;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.front,
.back {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
} 

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;  
    transform: rotateY(180deg);
}

.card .back  {
    background-image: url("../images/paws.webp");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
    border: 2px solid #035e4a
}

.front-image {
    width: 100%;
    height: 100%;
}

/* Style for difficulty selection */
#difficulty-level {
	display: flex;
	justify-content: center;
    width: 100vw;
    margin: auto;
}
label,
option {
    color: #035e4a;
    background:  rgb(255, 228, 196);
    font-family: "Rancho", cursive;
    letter-spacing: normal;
}
select {
    background: #035e4a;
    color: #fff;
    padding: 2px;
    font-size: 1rem;
}
button {
    margin: 20px 5px;
	padding: 5px 10px;
	background:  #035e4a;
	color: #fff;
    border: 2px solid #035e4a;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
}
button:hover {
	background: #ffe4c4;
	color: #035e4a;
    border: 2px solid #035e4a;
}
#moves {
    margin-top: 20px;
}
#startBtn,
#restartBbutton {
    background-color: #035e4a;
    color: #ffe4c4;
    border: 2px solid #ffe4c4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 #6a8d85;
}

.restart:hover {
    background-color: #ffe4c4;
    color: #035e4a;
}


#social-media {
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ffe4c4;
    border-top: 2px solid #035e4a;

}
.footer {
    margin-top: auto;
}

@media screen and (max-width: 510px) {
    .game-container {
        width: 100vw;
        grid-gap: 3px;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(auto-fill, 70px);
    }
    .card {
        height: 70px;
        width: 70px;
    }
    .front-image {
        width: 70px;
        height: 70px;
    }
    .front,
    .back {
    width: 70px;
    height: 70px;
    } 
}